
.container{
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto auto; 
  padding-top: 50px;
}
.card
{ 
 border: 2px solid black;
 padding: 15px;
 text-align: center;
 margin : 10px;



  /* 
  
    top:inherit;
    position: relative;
    
    grid-gap: 0.25rem;
    box-shadow: 0.5rem 0.5rem 0 var(--orange);
    
    padding: 10px;
    background-color: #fff;
     */

}
/* .grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 2rem;
    grid-gap: clamp(2rem, 2rem + 1vw, 4rem);
    align-content: start;
  } */
  .cartIcon
  {
    width: 20%;
    margin-left: 70%;
    
  }